extends layout

block content
	a(href="/manage-products")
		img(id="img-adm-prod", src="/images/adm-prod.png", alt="Administrar Produtos")

	a(href="/manage-services")
		img(id="img-adm-serv", src="/images/adm-serv.png", alt="Administrar Serviços")

	a(href="/manage-appointments")
		img(id="img-adm-sche", src="/images/adm-sche.png", alt="Administrar Agendamentos")

	a(href="/manage-users")
		img(id="img-adm-usr", src="/images/adm-usr.png", alt="Administrar Usuário")